body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #373736;
    background: #EDEDED;
}

/* index page */


.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
/* logo on the index page */
.login-page img {
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
}
/* design for email and password inputs */
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2rem 0;
}

.input {
    margin-top: 0.5rem;
    border: none;
    background: none;
    border-bottom: 1px solid #373736;
    font-size: 20px;
}
/* design for the submit and register buttons */
.button-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    font-weight: bold;
}

.button-wrapper a {
    text-decoration: none;
}

.bottom-btns {
    border: none;
    background: #373736;
    color: #EDEDED;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}

#register-btn {
    margin-top: 1rem;
}

/* Register page */
.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.register-page img {
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-bottom: 1rem;
}

#privacy-btn {
    margin-bottom: 1rem;
    text-decoration: none;
}

.reg-button-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-weight: bold;
}

.reg-bottom-btns {
    border: none;
    background: #373736;
    color: #EDEDED;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    margin: 0.5rem 0;
    text-decoration: none;
}

.register-input {
    margin: 0.5rem 0;
    border: none;
    background: none;
    border-bottom: 1px solid #373736;
    color: #373736;
}

/* Privacy Policy */
.ppolicy-wrapper {
    padding: 5rem;
}

.privacy-heading {
    text-transform: uppercase;
    color: #E9930A;
    font-size: 5rem;
}
.ppolicy-wrapper h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.back-button-wrapped {
    padding: 0 5rem 5rem 5rem;
    display: flex;
}

.back-to-reg-btn{
    width: 100%;
    border: none;
    background: #373736;
    color: #EDEDED;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 30px;
}

/* homepage heading*/

.header-wrapped {
    background-color: #EDEDED;
    height: 7.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
    padding: 0 3rem;
    top: 0;
}

.header-wrapped a {
    text-decoration: none;
    color: #373736;
}

.logo-header img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 7px;
}

.home-icon, .basket-icon {
    font-size: 40px;
    color: #373736;
    padding-top: 3rem;
}



/* heading */

.homepage {
    margin: 3rem;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 5rem;
}

.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #1F1E20;
}

.card img {
    position: relative;
    width: 100%;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.v-menu {
    text-decoration: none;
    border: 3px solid #1F1E20;
    border-radius: 25px;
    background: none;
    transition: all .5s;
    color: #1F1E20;
    margin: 2rem 0;
}

.v-menu:hover {
    background: #1F1E20;
    color: #EDEDED;
}

.v-menu h5 {
    font-weight: 500;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}

/* Media Queries */

@media (max-width: 1000px) {
    /* for index page */
    .login-page {
        margin: 3rem 0;
    }
    .login-page img {
        width: 30%;
    }
    .input-wrapper {
        width: 30%;
    }
    .button-wrapper {
        width: 30%;
    }
    /* privacy policy */
    .privacy-heading {
        font-size: 4rem;
    }
}

@media (max-width: 900px) {
    /* register page */
    .register-page img {
        width: 30%;
    }
    /* privacy policy */
    .privacy-heading {
        font-size: 3rem;
    }

    .ppolicy-wrapper h2 {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    /* for index page */
    .login-page {
        margin: 2rem 0; 
    }
    /* register page */
    .register-page img {
        width: 35%;
    }

    /* privacy policy */
    .back-to-reg-btn {
        font-size: 20px;
    }

    /* home page */
    .card-caption {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    /* for index page */
    .login-page {
        margin: 1.5rem 0;
    }
    .login-page img {
        width: 35%;
    }
    .input-wrapper {
        width: 35%;
    }
    .button-wrapper {
        width: 35%;
    }
    /* privacy policy */
    .privacy-heading {
        font-size: 2rem;
    }
    .ppolicy-wrapper h2 {
        font-size: 1.5rem;
    }
    .ppolicy-wrapper p {
        font-size: 15px;
    }

    /* home page */
    .homepage {
        margin: 2rem;
    }
    /* header */
    .header-wrapped {
        padding: 0 2rem;
    }
}

@media (max-width: 600px) {
    /* for index page */
    .login-page img {
        width: 40%;
    }
    .input-wrapper {
        width: 40%;
    }
    .button-wrapper {
        width: 40%;
    }
    /* privacy policy */
    .ppolicy-wrapper {
        padding: 3rem;
    }
    .back-button-wrapped {
        padding: 0 3rem 3rem 3rem;
    }
}

@media (max-width: 500px) {
    /* for index page */
    .login-page img {
        width: 45%;
    }
    .input-wrapper {
        width: 45%;
    }
    .button-wrapper {
        width: 45%;
    }
    /* register page */
    .register-page img {
        width: 40%;
    }
    /* home screen */
    .card-wrapper {
        column-count: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* header */
    .logo-header img {
        max-height: 75px;
    }

    .home-icon, .basket-icon {
        padding-top: 2rem;
    }

    .header-wrapped {
        height: 6.5rem;
    }
}

@media (max-width: 400px) {
    /* for index page */
    .login-page img {
        width: 60%;
    }
    .input-wrapper {
        width: 60%;
        margin: 3rem 0;
    }
    .input {
        font-size: 15px;
    }
    .button-wrapper {
        width: 60%;
    }
    /* register page */
    .register-page {
        margin: 2rem 0;
    }
    /* privacy policy */
    .privacy-heading {
        font-size: 1.5rem;
    }
    .ppolicy-wrapper h2 {
        font-size: 1.2rem;
    }
    .ppolicy-wrapper p {
        font-size: 12px;
    }
    .ppolicy-wrapper {
        padding: 2rem;
    }
    .back-button-wrapped {
        padding: 0 2rem 2rem 2rem;
    }
    .back-to-reg-btn {
        font-size: 15px;
    }
    /* header */
    .home-icon, .basket-icon {
        font-size: 30px;
        padding-top: 2rem;
    }

    .logo-header img {
        max-height: 60px;
    }

    .header-wrapped {
        height: 5rem;
    }

    /* homepage */
    .card {
        width: 100%;
    }
}

@media (max-width: 300px) {
    /* for index page */
    .login-page img {
        width: 65%;
    }
    .input-wrapper {
        width: 65%;
    }
    .button-wrapper {
        width: 65%;
    }
    /* register page */
    .list {
        margin: 2rem 2.5rem;
        width: 75%;
        justify-content: center;
    }

    .register-input {
        width: 100%;
    }

    .generic-r-heading {
        text-align: left;
        font-size: 20px;
    }

    /* header */
    .header-wrapped {
        padding: 0px 1.5rem;
    }

    .home-icon, .basket-icon {
        font-size: 25px;
        padding-top: 2.4rem;
    }

    /* homepage */
    .homepage {
        margin: 1.5rem;
    }
}

